@use '@angular/material' as mat;

:root {
	@include mat.all-component-themes($m3-light-theme);
	@include mat.system-level-colors($m3-light-theme);
	@include mat.system-level-typography($m3-light-theme);

	--neutral: #{mat.get-theme-color($m3-light-theme, neutral, 60)};
	--neutral-0: #{mat.get-theme-color($m3-light-theme, neutral, 100)};
	--neutral-50: #{mat.get-theme-color($m3-light-theme, neutral, 99)};
	--neutral-100: #{mat.get-theme-color($m3-light-theme, neutral, 98)};
	--neutral-200: #{mat.get-theme-color($m3-light-theme, neutral, 95)};
	--neutral-300: #{mat.get-theme-color($m3-light-theme, neutral, 90)};
	--neutral-400: #{mat.get-theme-color($m3-light-theme, neutral, 80)};
	--neutral-450: #{mat.get-theme-color($m3-light-theme, neutral, 70)};
	--neutral-500: #{mat.get-theme-color($m3-light-theme, neutral, 60)};
	--neutral-600: #{mat.get-theme-color($m3-light-theme, neutral, 50)};
	--neutral-650: #{mat.get-theme-color($m3-light-theme, neutral, 40)};
	--neutral-700: #{mat.get-theme-color($m3-light-theme, neutral, 35)};
	--neutral-800: #{mat.get-theme-color($m3-light-theme, neutral, 30)};
	--neutral-900: #{mat.get-theme-color($m3-light-theme, neutral, 25)};
	--neutral-950: #{mat.get-theme-color($m3-light-theme, neutral, 20)};
	--neutral-1000: #{mat.get-theme-color($m3-light-theme, neutral, 10)};

	--neutral-variant: #{mat.get-theme-color($m3-light-theme, neutral-variant, 60)};
	--neutral-variant-0: #{mat.get-theme-color($m3-light-theme, neutral-variant, 100)};
	--neutral-variant-50: #{mat.get-theme-color($m3-light-theme, neutral-variant, 99)};
	--neutral-variant-100: #{mat.get-theme-color($m3-light-theme, neutral-variant, 98)};
	--neutral-variant-200: #{mat.get-theme-color($m3-light-theme, neutral-variant, 95)};
	--neutral-variant-300: #{mat.get-theme-color($m3-light-theme, neutral-variant, 90)};
	--neutral-variant-400: #{mat.get-theme-color($m3-light-theme, neutral-variant, 80)};
	--neutral-variant-450: #{mat.get-theme-color($m3-light-theme, neutral-variant, 70)};
	--neutral-variant-500: #{mat.get-theme-color($m3-light-theme, neutral-variant, 60)};
	--neutral-variant-600: #{mat.get-theme-color($m3-light-theme, neutral-variant, 50)};
	--neutral-variant-650: #{mat.get-theme-color($m3-light-theme, neutral-variant, 40)};
	--neutral-variant-700: #{mat.get-theme-color($m3-light-theme, neutral-variant, 35)};
	--neutral-variant-800: #{mat.get-theme-color($m3-light-theme, neutral-variant, 30)};
	--neutral-variant-900: #{mat.get-theme-color($m3-light-theme, neutral-variant, 25)};
	--neutral-variant-950: #{mat.get-theme-color($m3-light-theme, neutral-variant, 20)};
	--neutral-variant-1000: #{mat.get-theme-color($m3-light-theme, neutral-variant, 10)};

	// primary color
	--primary-0: #{mat.get-theme-color($m3-light-theme, primary, 100)};
	--primary-50: #{mat.get-theme-color($m3-light-theme, primary, 99)};
	--primary-100: #{mat.get-theme-color($m3-light-theme, primary, 98)};
	--primary-200: #{mat.get-theme-color($m3-light-theme, primary, 95)};
	--primary-300: #{mat.get-theme-color($m3-light-theme, primary, 90)};
	--primary-400: #{mat.get-theme-color($m3-light-theme, primary, 80)};
	--primary-450: #{mat.get-theme-color($m3-light-theme, primary, 70)};
	--primary-500: #{mat.get-theme-color($m3-light-theme, primary, 60)};
	--primary-600: #{mat.get-theme-color($m3-light-theme, primary, 50)};
	--primary-650: #{mat.get-theme-color($m3-light-theme, primary, 40)};
	--primary-700: #{mat.get-theme-color($m3-light-theme, primary, 35)};
	--primary-800: #{mat.get-theme-color($m3-light-theme, primary, 30)};
	--primary-900: #{mat.get-theme-color($m3-light-theme, primary, 25)};
	--primary-950: #{mat.get-theme-color($m3-light-theme, primary, 20)};
	--primary-1000: #{mat.get-theme-color($m3-light-theme, primary, 10)};

	--secondary-0: #{mat.get-theme-color($m3-light-theme, secondary, 100)};
	--secondary-50: #{mat.get-theme-color($m3-light-theme, secondary, 99)};
	--secondary-100: #{mat.get-theme-color($m3-light-theme, secondary, 98)};
	--secondary-200: #{mat.get-theme-color($m3-light-theme, secondary, 95)};
	--secondary-300: #{mat.get-theme-color($m3-light-theme, secondary, 90)};
	--secondary-400: #{mat.get-theme-color($m3-light-theme, secondary, 80)};
	--secondary-450: #{mat.get-theme-color($m3-light-theme, secondary, 70)};
	--secondary-500: #{mat.get-theme-color($m3-light-theme, secondary, 60)};
	--secondary-600: #{mat.get-theme-color($m3-light-theme, secondary, 50)};
	--secondary-650: #{mat.get-theme-color($m3-light-theme, secondary, 40)};
	--secondary-700: #{mat.get-theme-color($m3-light-theme, secondary, 35)};
	--secondary-800: #{mat.get-theme-color($m3-light-theme, secondary, 30)};
	--secondary-900: #{mat.get-theme-color($m3-light-theme, secondary, 25)};
	--secondary-950: #{mat.get-theme-color($m3-light-theme, secondary, 20)};
	--secondary-1000: #{mat.get-theme-color($m3-light-theme, secondary, 10)};

	// tertiary color
	--tertiary-0: #{mat.get-theme-color($m3-light-theme, tertiary, 100)};
	--tertiary-50: #{mat.get-theme-color($m3-light-theme, tertiary, 99)};
	--tertiary-100: #{mat.get-theme-color($m3-light-theme, tertiary, 98)};
	--tertiary-200: #{mat.get-theme-color($m3-light-theme, tertiary, 95)};
	--tertiary-300: #{mat.get-theme-color($m3-light-theme, tertiary, 90)};
	--tertiary-400: #{mat.get-theme-color($m3-light-theme, tertiary, 80)};
	--tertiary-450: #{mat.get-theme-color($m3-light-theme, tertiary, 70)};
	--tertiary-500: #{mat.get-theme-color($m3-light-theme, tertiary, 60)};
	--tertiary-600: #{mat.get-theme-color($m3-light-theme, tertiary, 50)};
	--tertiary-650: #{mat.get-theme-color($m3-light-theme, tertiary, 40)};
	--tertiary-700: #{mat.get-theme-color($m3-light-theme, tertiary, 35)};
	--tertiary-800: #{mat.get-theme-color($m3-light-theme, tertiary, 30)};
	--tertiary-900: #{mat.get-theme-color($m3-light-theme, tertiary, 25)};
	--tertiary-950: #{mat.get-theme-color($m3-light-theme, tertiary, 20)};
	--tertiary-1000: #{mat.get-theme-color($m3-light-theme, tertiary, 10)};

	--error-0: #{mat.get-theme-color($m3-light-theme, error, 100)};
	--error-50: #{mat.get-theme-color($m3-light-theme, error, 99)};
	--error-100: #{mat.get-theme-color($m3-light-theme, error, 98)};
	--error-200: #{mat.get-theme-color($m3-light-theme, error, 95)};
	--error-300: #{mat.get-theme-color($m3-light-theme, error, 90)};
	--error-400: #{mat.get-theme-color($m3-light-theme, error, 80)};
	--error-450: #{mat.get-theme-color($m3-light-theme, error, 70)};
	--error-500: #{mat.get-theme-color($m3-light-theme, error, 60)};
	--error-600: #{mat.get-theme-color($m3-light-theme, error, 50)};
	--error-650: #{mat.get-theme-color($m3-light-theme, error, 40)};
	--error-700: #{mat.get-theme-color($m3-light-theme, error, 35)};
	--error-800: #{mat.get-theme-color($m3-light-theme, error, 30)};
	--error-900: #{mat.get-theme-color($m3-light-theme, error, 25)};
	--error-950: #{mat.get-theme-color($m3-light-theme, error, 20)};
	--error-1000: #{mat.get-theme-color($m3-light-theme, error, 10)};

	--background: #fff;
	--on-background: #{mat.get-theme-color($m3-light-theme, neutral, 20)};
	--inverse: #{mat.get-theme-color($m3-light-theme, neutral, 50)};

	--mat-table-background-color: var(--background);
	--mat-table-row-item-outline-color: theme('borderColor.DEFAULT');
	--mat-paginator-container-background-color: none;

	--transition-transform: transform 0.15s linear;
	--mdc-protected-button-container-height: 2.375rem;
	--mat-menu-item-label-text-size: theme('fontSize.xs');
	--mat-option-label-text-size: theme('fontSize.xs');
}

html {
	background: var(--background);
	color: var(--on-background);
}

html.dark {
	@include mat.all-component-colors($m3-dark-theme);
	@include mat.system-level-colors($m3-dark-theme);
	@include mat.system-level-typography($m3-dark-theme);

	--neutral-0: #{mat.get-theme-color($m3-dark-theme, neutral, 100)};
	--neutral-50: #{mat.get-theme-color($m3-dark-theme, neutral, 99)};
	--neutral-100: #{mat.get-theme-color($m3-dark-theme, neutral, 98)};
	--neutral-200: #{mat.get-theme-color($m3-dark-theme, neutral, 95)};
	--neutral-300: #{mat.get-theme-color($m3-dark-theme, neutral, 90)};
	--neutral-400: #{mat.get-theme-color($m3-dark-theme, neutral, 80)};
	--neutral-450: #{mat.get-theme-color($m3-dark-theme, neutral, 70)};
	--neutral-500: #{mat.get-theme-color($m3-dark-theme, neutral, 60)};
	--neutral-600: #{mat.get-theme-color($m3-dark-theme, neutral, 50)};
	--neutral-650: #{mat.get-theme-color($m3-dark-theme, neutral, 40)};
	--neutral-700: #{mat.get-theme-color($m3-dark-theme, neutral, 35)};
	--neutral-800: #{mat.get-theme-color($m3-dark-theme, neutral, 30)};
	--neutral-900: #{mat.get-theme-color($m3-dark-theme, neutral, 25)};
	--neutral-950: #{mat.get-theme-color($m3-dark-theme, neutral, 20)};
	--neutral-1000: #{mat.get-theme-color($m3-dark-theme, neutral, 10)};

	--neutral-variant-0: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 100)};
	--neutral-variant-50: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 99)};
	--neutral-variant-100: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 98)};
	--neutral-variant-200: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 95)};
	--neutral-variant-300: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 90)};
	--neutral-variant-400: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 80)};
	--neutral-variant-450: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 70)};
	--neutral-variant-500: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 60)};
	--neutral-variant-600: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 50)};
	--neutral-variant-650: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 40)};
	--neutral-variant-700: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 35)};
	--neutral-variant-800: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 30)};
	--neutral-variant-900: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 25)};
	--neutral-variant-950: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 20)};
	--neutral-variant-1000: #{mat.get-theme-color($m3-dark-theme, neutral-variant, 10)};

	// primary color
	--primary-0: #{mat.get-theme-color($m3-dark-theme, primary, 100)};
	--primary-50: #{mat.get-theme-color($m3-dark-theme, primary, 99)};
	--primary-100: #{mat.get-theme-color($m3-dark-theme, primary, 98)};
	--primary-200: #{mat.get-theme-color($m3-dark-theme, primary, 95)};
	--primary-300: #{mat.get-theme-color($m3-dark-theme, primary, 90)};
	--primary-400: #{mat.get-theme-color($m3-dark-theme, primary, 80)};
	--primary-450: #{mat.get-theme-color($m3-dark-theme, primary, 70)};
	--primary-500: #{mat.get-theme-color($m3-dark-theme, primary, 60)};
	--primary-600: #{mat.get-theme-color($m3-dark-theme, primary, 50)};
	--primary-650: #{mat.get-theme-color($m3-dark-theme, primary, 40)};
	--primary-700: #{mat.get-theme-color($m3-dark-theme, primary, 35)};
	--primary-800: #{mat.get-theme-color($m3-dark-theme, primary, 30)};
	--primary-900: #{mat.get-theme-color($m3-dark-theme, primary, 25)};
	--primary-950: #{mat.get-theme-color($m3-dark-theme, primary, 20)};
	--primary-1000: #{mat.get-theme-color($m3-dark-theme, primary, 10)};

	--secondary-0: #{mat.get-theme-color($m3-dark-theme, secondary, 100)};
	--secondary-50: #{mat.get-theme-color($m3-dark-theme, secondary, 99)};
	--secondary-100: #{mat.get-theme-color($m3-dark-theme, secondary, 98)};
	--secondary-200: #{mat.get-theme-color($m3-dark-theme, secondary, 95)};
	--secondary-300: #{mat.get-theme-color($m3-dark-theme, secondary, 90)};
	--secondary-400: #{mat.get-theme-color($m3-dark-theme, secondary, 80)};
	--secondary-450: #{mat.get-theme-color($m3-dark-theme, secondary, 70)};
	--secondary-500: #{mat.get-theme-color($m3-dark-theme, secondary, 60)};
	--secondary-600: #{mat.get-theme-color($m3-dark-theme, secondary, 50)};
	--secondary-650: #{mat.get-theme-color($m3-dark-theme, secondary, 40)};
	--secondary-700: #{mat.get-theme-color($m3-dark-theme, secondary, 35)};
	--secondary-800: #{mat.get-theme-color($m3-dark-theme, secondary, 30)};
	--secondary-900: #{mat.get-theme-color($m3-dark-theme, secondary, 25)};
	--secondary-950: #{mat.get-theme-color($m3-dark-theme, secondary, 20)};
	--secondary-1000: #{mat.get-theme-color($m3-dark-theme, secondary, 10)};

	// tertiary color
	--tertiary-0: #{mat.get-theme-color($m3-dark-theme, tertiary, 100)};
	--tertiary-50: #{mat.get-theme-color($m3-dark-theme, tertiary, 99)};
	--tertiary-100: #{mat.get-theme-color($m3-dark-theme, tertiary, 98)};
	--tertiary-200: #{mat.get-theme-color($m3-dark-theme, tertiary, 95)};
	--tertiary-300: #{mat.get-theme-color($m3-dark-theme, tertiary, 90)};
	--tertiary-400: #{mat.get-theme-color($m3-dark-theme, tertiary, 80)};
	--tertiary-450: #{mat.get-theme-color($m3-dark-theme, tertiary, 70)};
	--tertiary-500: #{mat.get-theme-color($m3-dark-theme, tertiary, 60)};
	--tertiary-600: #{mat.get-theme-color($m3-dark-theme, tertiary, 50)};
	--tertiary-650: #{mat.get-theme-color($m3-dark-theme, tertiary, 40)};
	--tertiary-700: #{mat.get-theme-color($m3-dark-theme, tertiary, 35)};
	--tertiary-800: #{mat.get-theme-color($m3-dark-theme, tertiary, 30)};
	--tertiary-900: #{mat.get-theme-color($m3-dark-theme, tertiary, 25)};
	--tertiary-950: #{mat.get-theme-color($m3-dark-theme, tertiary, 20)};
	--tertiary-1000: #{mat.get-theme-color($m3-dark-theme, tertiary, 10)};

	--error-0: #{mat.get-theme-color($m3-dark-theme, error, 100)};
	--error-50: #{mat.get-theme-color($m3-dark-theme, error, 99)};
	--error-100: #{mat.get-theme-color($m3-dark-theme, error, 98)};
	--error-200: #{mat.get-theme-color($m3-dark-theme, error, 95)};
	--error-300: #{mat.get-theme-color($m3-dark-theme, error, 90)};
	--error-400: #{mat.get-theme-color($m3-dark-theme, error, 80)};
	--error-450: #{mat.get-theme-color($m3-dark-theme, error, 70)};
	--error-500: #{mat.get-theme-color($m3-dark-theme, error, 60)};
	--error-600: #{mat.get-theme-color($m3-dark-theme, error, 50)};
	--error-650: #{mat.get-theme-color($m3-dark-theme, error, 40)};
	--error-700: #{mat.get-theme-color($m3-dark-theme, error, 35)};
	--error-800: #{mat.get-theme-color($m3-dark-theme, error, 30)};
	--error-900: #{mat.get-theme-color($m3-dark-theme, error, 25)};
	--error-950: #{mat.get-theme-color($m3-dark-theme, error, 20)};
	--error-1000: #{mat.get-theme-color($m3-dark-theme, error, 10)};

	--background: #{mat.get-theme-color($m3-dark-theme, neutral, 20)};
	--on-background: #fff;
	--inverse: #{mat.get-theme-color($m3-dark-theme, neutral, 50)};

	--mat-table-background-color: var(--background);
	--mat-table-row-item-outline-color: theme('colors.gray.300');
	--mat-paginator-container-background-color: none;

	--warn: theme('colors.red.500');
}
